<nav>
    <ul class="nav nav-pills nav-stacked">
    {{#each menuItems as |item|}}
        <li role="presentation" class="{{if item.isActive 'active'}}">
            {{#link-to item.route}} {{item.label}} {{/link-to}}
        </li>
    {{/each}}
    </ul>
</nav>